{{define "body"}}
<h1>Welcome to my lion gallery</h1>
<p>See what those beautiful creatures have to offer.</p>
<div class="image-grid">
  <img class="img-library" src="/static/images/lions/img1.jpg" alt="Image 1" />
  <img class="img-library" src="/static/images/lions/img2.jpg" alt="Image 2" />
  <img class="img-library" src="/static/images/lions/img3.png" alt="Image 3" />
  <img class="img-library" src="/static/images/lions/img4.png" alt="Image 4" />
  <img class="img-library" src="/static/images/lions/img5.png" alt="Image 5" />
  <img class="img-library" src="/static/images/lions/img6.png" alt="Image 6" />
  <img class="img-library" src="/static/images/lions/img7.jpeg" alt="Image 7" />
  <img class="img-library" src="/static/images/lions/img8.jpg" alt="Image 8" />
  <img class="img-library" src="/static/images/lions/img9.jpeg" alt="Image 9" />
</div>
{{end}}
