<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roulette</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <main class="center">
        {% if flag %}
        <p>Bravo! Voici votre récompense:<br>flag-Fl4skAndS7uff</p>
        {% else %}
        <p>Vous n'avez pas 1000$!</p>
        {% endif %}
        <a href="/">Retourner à la roue</a>
    </main>
</body>
</html>