<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roulette</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body>
    <p id="balance" class="balance">{{ balance }}$</p>

    <main class="center">
        <div class="marker"></div>
        <ul class="wheel" id="wheel">
            <li>Perdu!</li>
            <li>5$</li>
            <li>Un "hourra" enthousiaste</li>
            <li>10$</li>
            <li>Perdu!</li>
            <li>70$</li>
            <li>Un chapeau de pieuvre</li>
            <li>Un très gros toutou de Mario</li>
            <li>2$</li>
            <li>Perdu!</li>
            <li>-30$</li>
            <li>Un billet d'accès au parc (monopoly)</li>
        </ul>
        {% if can_spin %}
        <button id="spin-btn">Faire tourner la roue!</button>
        {% else %}
        <p>Vous avez déjà fait tourner la roue cette semaine...</p>
        {% endif %}

        <a href="/redeem"><em>Pssst! Si vous avez plus de 1000$, venez ici! 🚩</em></a>
    </main>

    <script src="https://confettijs.org/confetti.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>