@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    background-color: #fdd835;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.marker {
    position: absolute;
    z-index: 1;

    width: 2rem;
    height: 2rem;

    clip-path: polygon(0 0, 100% 0, 50% 100%);

    background-color: #2196f3;
}

.wheel {
    background-color: #f5f5f5;
    border: solid .5rem #212121;

    width: 40rem;
    height: 40rem;
    padding: 0;

    border-radius: 50%;

    overflow: hidden;
    position: relative;

    transition: transform 4s cubic-bezier(0, 0.5, 0.5, 1);
}

.wheel > li {
    position: absolute;
    list-style: none;

    color: #212121;
    font-weight: 600;

    clip-path: polygon(0 0, 100% 50%, 0 100%);
    
    top: calc(50% - 5.5rem);
    width: 50%;
    height: 11rem;

    transform-origin: 100% 50%;

    padding-left: 1rem;
    box-sizing: border-box;

    display: flex;
    align-items: center;
}

.wheel > li:nth-child(2n) {
    background-color: #e53935;
}

.wheel > li:nth-child(2n+1) {
    background-color: #f5f5f5;
}

/* Merci Ben */
.wheel > li:nth-child(1) { transform: rotate(0deg); }
.wheel > li:nth-child(2) { transform: rotate(30deg); }
.wheel > li:nth-child(3) { transform: rotate(60deg); }
.wheel > li:nth-child(4) { transform: rotate(90deg); }
.wheel > li:nth-child(5) { transform: rotate(120deg); }
.wheel > li:nth-child(6) { transform: rotate(150deg); }
.wheel > li:nth-child(7) { transform: rotate(180deg); }
.wheel > li:nth-child(8) { transform: rotate(210deg); }
.wheel > li:nth-child(9) { transform: rotate(240deg); }
.wheel > li:nth-child(10) { transform: rotate(270deg); }
.wheel > li:nth-child(11) { transform: rotate(300deg); }
.wheel > li:nth-child(12) { transform: rotate(330deg); }

.balance {
    position: fixed;
    display: inline;
    background-color: #f5f5f5;
    margin: .4rem;
    padding: .3rem 2rem;
    border: solid .3rem #212121;
    border-radius: .5rem;
}

#spin-btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;

    margin: 1rem;
    padding: .5rem;

    color: #f5f5f5;
    background-color: #512da8;
    border: none;

    border-radius: .5rem;
}

#spin-btn:hover {
    background-color: #45258f;
    cursor: pointer;
}

#spin-btn:disabled {
    background-color: #616161;
}

a {
    text-decoration: none;
    color: #2962ff;
}