{% extends "base.html" %} {% block content %}
<div>
  <div class="boxContent">
    Welcome to the thrill-seekers' paradise! Get ready for an adrenaline-pumping
    adventure. Whether you're a seasoned coaster connoisseur or a first-time
    rider, we've got something for everyone. Want to design your own coaster? Or
    perhaps you'd like to take a virtual ride on one of our most popular
    attractions? The choice is yours. And remember, once you're logged in, you
    can chat with me directly. Ask questions, share your thoughts, or just
    strike up a conversation. I'm here to make your experience even more
    thrilling. So, what will it be? Are you ready to embark on a thrilling
    journey?
    <p class="subtitle">
      Need a fresh start? Head back to the homepage for a clean slate.
    </p>
  </div>
</div>
{% endblock %}
